@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #111;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

/* LOGO */
.logo img{
    width: 100px;
    display: block;
}

/* MENU */
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}

/* LINHA EMBAIXO DO LINK */
nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0%;
    height: 2px;

    background-color: #d4a24c;

    transition: 0.3s;
}

nav ul li a:hover{
    color: #d4a24c;
}

nav ul li a:hover::after{
    width: 100%;
}

/* BOTÕES */
.buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* BOTÃO ENTRAR */
.btn-login{
    background-color: transparent;
    border: 1px solid #d4a24c;
    color: white;

    padding: 12px 28px;

    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.btn-login:hover{
    background-color: #d4a24c;
    color: black;
}

/* BOTÃO CRIAR CONTA */
.btn-cadastro{
    background-color: #d4a24c;
    border: none;
    color: black;

    padding: 12px 28px;

    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.btn-cadastro:hover{
    transform: scale(1.05);
}
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #050505;
    color: white;
}

/* MAIN */
.fila-container{
    display: flex;
    gap: 25px;

    padding: 30px 40px;
}

/* ESQUERDA */
.fila-left{
    flex: 1;
}

/* CARD PRINCIPAL */
.card-fila{
    background-color: #0d0d0d;

    border-radius: 18px;

    padding: 30px;
    border: 1px solid #1c1c1c;
}

/* TOPO */
.infos-top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-box{
    flex: 1;
}

.info-box h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.info-box p{
    color: #999;
    font-size: 14px;
    line-height: 22px;
}

.center{
    text-align: center;
}

.center span{
    color: #b9b9b9;
    font-size: 14px;
}

.center h2{
    color: #d4a24c;
    margin-top: 8px;
    font-size: 34px;
}

hr{
    border: none;
    border-top: 1px solid #1d1d1d;
    margin: 30px 0;
}

/* FILA */
.posicao h3{
    margin-bottom: 40px;
}

.linha-fila{
    display: flex;
    align-items: center;
}

.pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 110px;
}

.circulo{
    width: 42px;
    height: 42px;

    border-radius: 50%;
    border: 2px solid #d4a24c;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;

    color: #d4a24c;
}

.barra{
    flex: 1;
    height: 2px;
    background-color: #2a2a2a;
    margin-bottom: 40px;
}

.ativo .circulo,
.atual .circulo{
    background-color: #d4a24c;
    color: black;
}

.pessoa span{
    font-weight: bold;
    margin-bottom: 5px;
}

.pessoa p{
    font-size: 12px;
    color: #999;
}

/* ALERTA */
.alerta{
    background-color: #0d0d0d;

    margin-top: 20px;
    padding: 25px 30px;

    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alerta p{
    color: #999;
    margin-top: 5px;
}

/* BOTÃO SAIR */
.btn-sair{
    background-color: transparent;
    border: 1px solid red;

    color: red;

    padding: 14px 40px;

    border-radius: 12px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-sair:hover{
    background-color: red;
    color: white;
}

/* SERVIÇOS */
.servicos-box{
    background-color: #0d0d0d;

    margin-top: 20px;
    padding: 25px;

    border-radius: 18px;
}

.cards-servicos{
    display: flex;
    gap: 20px;

    margin-top: 20px;
}

.card-servico{
    width: 220px;
    background-color: #080808;
    border: 1px solid #1f1f1f;

    border-radius: 10px;
    overflow: hidden;

    transition: 0.3s;
}

.card-servico:hover{
    transform: translateY(-5px);
}

.card-servico img{
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.servico-info{
    padding: 15px;
}

.servico-info h4{
    margin-bottom: 8px;
}

.servico-info span{
    color: #d4a24c;
    font-weight: bold;
}

.servico-info p{
    color: #999;
    margin-top: 8px;
    font-size: 13px;
}

/* SIDEBAR */
.sidebar{
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-card{
    background-color: #0d0d0d;

    border-radius: 18px;
    padding: 25px;

    border: 1px solid #1f1f1f;
}

.sidebar-card h3{
    margin-bottom: 20px;
}

.barber-info h4{
    margin-bottom: 10px;
}

.barber-info span{
    color: #d4a24c;
    display: block;
    margin-bottom: 10px;
}

.barber-info p{
    color: #999;
    margin-bottom: 5px;
}

/* LISTA */
.lista-servicos{
    list-style: none;
}

.lista-servicos li{
    display: flex;
    justify-content: space-between;

    padding: 12px 0;

    border-bottom: 1px solid #1f1f1f;
}

.lista-servicos span{
    color: #ddd;
}

.lista-servicos b{
    color: #d4a24c;
}

/* BOTÃO SERVIÇOS */
.btn-servicos{
    width: 100%;
    margin-top: 20px;

    background-color: transparent;
    border: 1px solid #d4a24c;

    color: #d4a24c;

    padding: 14px;

    border-radius: 12px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-servicos:hover{
    background-color: #d4a24c;
    color: black;
}

/* BOTÃO AVALIAR */
.btn-avaliar{
    background-color: transparent;
    border: 1px solid #d4a24c;

    color: #d4a24c;

    padding: 16px;

    border-radius: 12px;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.btn-avaliar:hover{
    background-color: #d4a24c;
    color: black;
}
